@media screen and (max-width: 430px) {
    .container {
        max-width: 390px;
        margin: auto;
    }
    header {
        background-color: #191919;
        position: fixed;
        width: 100%;
    }
    #header {
        
        padding: 5px 0;
    }
    .header {
        color: #fff;
        font-size: 1.3rem;
        font-weight: 600;
        padding-left: 5px;
    }
    #main-nav {
        background-color: #191919;
        padding: 10px 0;
        padding-top: 80px;
    }
    #nav ul {
        display: flex;
    }
    #nav ul li {
        padding: 0 15px;
    }
    #nav ul li a {
        color: rgba(255, 255, 255, 0.555);
        font-weight: 500;
    }
    #nav ul li a:hover {
        color: #fff;
    }
    .information {
        
        margin-top: -16px;
    }
    .main-heading {
        color: rgba(255, 255, 255, 0.9);
        font-size: 1.3rem;
        margin-top: 20px;
        padding-top: 5px;
        padding-left: 10px;

    }
    .match {
        background-color: #191919d2;
        border-radius: 5px;
        padding: 120px 0;
        margin: 30px 0;
    }
    .match h3 {
        color: rgba(255, 255, 255, 0.555);
        padding-left: 10px;
        transform: translateY(-100px);
    }
    .team-name {
        color: rgba(255, 255, 255, 0.555);
        padding-left: 10px;
        transform: translateY(-60px);
        
    }
    .team2 {
        transform: translateY(-35px);
    }
    #footer {
        padding: 30px 0;
    }
    #footer p {
        color: #fff;
        text-align: center;
        padding-bottom: 10px;
    }
    .sites ul {
        display: flex;
        justify-content: center;
    }
    .sites ul li a {
        padding: 0 20px
    }
    .sites ul li a i:hover {
        color: rgb(187, 43, 43);
    }
    .copyright {
        padding: 10px 0 0 5px;
    }
    small {
        color: red;
    }
    
    .show {
        display: none;
    }

}