@media screen and (max-width: 430px) {
    .container {
        max-width: 390px;
        margin: auto;
    }
/* Header */

    header {
        background-color: #191919;
        position: fixed;
        width: 100%;
    }
    #header {
        
        padding: 5px 0;
    }
    .header {
        color: #fff;
        font-size: 1.3rem;
        font-weight: 600;
        padding-left: 5px;
    }

    /* Navbar */

    #main-nav {
        background-color: #191919;
        padding: 10px 0;
        padding-top: 80px;
    }
    #nav ul {
        display: flex;
    }
    #nav ul li {
        padding: 0 15px;
    }
    #nav ul li a {
        color: rgba(255, 255, 255, 0.555);
        font-weight: 500;
    }
    #nav ul li a:hover {
        color: #fff;
    }
    .information {
        
        margin-top: -16px;
    }
    .main-heading {
        color: rgba(255, 255, 255, 0.9);
        font-size: 1.3rem;
        margin-top: 20px;
        padding-top: 5px;
        padding-left: 10px;

    }

    /* League Title */
    .league-title {
        color: #fff;
        padding: 20px 10px 0 10px;
        font-weight: 400;
    }
    .league-title i {
        padding-left: 15px;
    }

    /* Matches */

    .match {
        background-color: #191919d2;
        border-radius: 5px;
        padding: 20px 10px;
        margin: 40px 20px 10px 20px;
    }
    .match ul {
        display: flex;
        justify-content: space-between;
    }
    .match ul li {
        color: rgba(255, 255, 255, 0.555);
        padding: 20px 0;
    }

    /* Footer */

    #footer {
        padding: 30px 0;
    }
    #footer p {
        color: rgba(255, 255, 255, 0.555);
        text-align: center;
        padding-bottom: 10px;
    }
    .sites ul {
        display: flex;
        justify-content: center;
    }
    .sites ul li a {
        padding: 0 20px
    }
    .sites ul li a i:hover {
        color: rgb(187, 43, 43);
    }
    .copyright {
        padding: 10px 0 0 5px;
    }
    small {
        color: red;
    }
    
    .show {
        display: none;
    }
    
}